$link-color: #2196f3;

.main-header {
    height: 74px;
    background-color: #333;
    color: white;
    position: relative;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80vw;
        margin: auto;
    }
    .logo {
        font-size: 30px;
        padding: 20px;
    }
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        transition: .5s;
        .nav-links {
            display: flex;
            gap: 20px;
        }
        .serv {
            position: relative;
        }
        .link {
            padding: 20px;
            font-size: 20px;
            border-radius: 5px;
            text-align: center;
            transition: .5s;
            &:hover {
                background-color: $link-color;
            }
            .down {
                margin-left: 5px;
            }
        }
        button {
            border: 1px solid $link-color;
            outline: none;
            background-color: transparent;
            padding: 20px;
            color: white;
            font-size: 20px;
            border-radius: 5px;
            cursor: pointer;
            transition: .5s;
            background-color: $link-color;
            &:hover {
                background-color: transparent;
            }
        }
    }
    .menu-icon {
        display: none;
        i {
            font-size: 40px;
            cursor: pointer;
        }
    }
    @media (max-width: 992px) {
        .navbar {
            flex-direction: column;
            width: 100%;
            height: calc(100vh - 74px);
            position: absolute;
            top: 74px;
            left: 0;
            background-color: #333;
            transform: translateX(-100%);
            &.active {
                transform: translateX(0);
            }
            .nav-links {
                flex-direction: column;
                width: 100%;
            }
            .button {
                width: 250px;
                margin-bottom: 10px;
                button {
                    width: 100%;
                }
            }
        }
        .menu-icon {
            display: block;
        }
    }
}
